.HomePageContainer{
      position: relative;
    height: 100%;
    width: 100%;
  overflow-y: auto;
      background: linear-gradient(90deg, #a1c4fd,  #c2e9fb);
  animation: HomePageContainer 3s;
}

@keyframes HomePageContainer{
from {
    background: linear-gradient(90deg, #a1c4fd,  #c2e9fb);
  opacity: 0;
  transform: translateY(-200%)
}

to {
      background: linear-gradient(90deg, #a1c4fd,  #c2e9fb);
  opacity: 1;
   transform: translateY(0)
}
}