.HomePageContainer{
   position: relative;
    height: 100%;
    width: 100%;
     background: linear-gradient( #fdfbfb,  #ebedee);
    padding: 40px;
    box-sizing: border-box;
    animation: HomePageContainer 3s;
}


.HomePageContainerTwo{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #fdfbfb,  #ebedee);
    padding: 40px;
    box-sizing: border-box;
}
.DarkHomePageContainer {
    position: relative;
    height: 100%;
    width: 100%;
    background: #333;
    padding: 40px;
    box-sizing: border-box;
    animation: HomePageContainer 3s;
}


.DarkHomePageContainerTwo{
  position: relative;
    height: 100%;
    width: 100%;
    background: #333;
    padding: 40px;
    box-sizing: border-box;
}

@keyframes HomePageContainer{
from {
   background: linear-gradient( #fdfbfb,  #ebedee);
  opacity: 0;
  transform: translateY(-200%)
}

to {
     background: linear-gradient( #fdfbfb,  #ebedee);
  opacity: 1;
   transform: translateY(0)
}
}