.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: space;
  /* background:   linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(200, 200, 200, 0.55)
    ),url('../../assets/images/background.png') */
}
.DarkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #333;
  color: white;
}

.AboutCardContainer {
  width: 50%;
  margin: 12% auto;
}

.Name {
  animation: name 5.5s ease;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2.5rem;
}
.Name::after {
  content: "Front End Developer";
  margin-top: 1.5rem;
  font-size: 1.25rem;
  display: block;
}
.Bio {
  animation: Bio 3.5s ease;
}

@keyframes name {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .MainContainer {
    width: 350px;
    margin-left: 10%;
  }
}

/* @keyframes Name{
from {
   background:space;
  opacity: 0;
  transform: translateY(-200%)
}

to {
    background:space;
  opacity: 1;
   transform: translateY(0)
}
}


@keyframes Title{
from {
   background:space;
  opacity: 0;
  transform: translateX(-200%)
}

to {
    background:space;
  opacity: 1;
   transform: translateX(0)
}
}

@keyframes Bio{
from {
   background:space;
  opacity: 0;
  transform: translateX(-200%)
}

to {
    background:space;
  opacity: 1;
   transform: translateX(0)
}
} */
