.MainContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    
}


.AboutCardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.Name{
  white-space: nowrap;
 color: white;
  font-size: 4rem;
  letter-spacing: 3px;
}
.Name::after{
   content: 'Front End Developer';
     margin-top: 1.5rem;
    display: block;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
}
.Bio{
  color: white;
  width: 80%;
  font-size: 1.3rem;

}
.Links{
  text-align: center;

}
.Link{
  color: white;
  background-color: white;

}
/* @media(max-width: 500px){
  .MainContainer{
    width: 250px;
    margin-left: 15%;
  }
} */



/* @keyframes Name{
from {
   background:space;
  opacity: 0;
  transform: translateY(-200%)
}

to {
    background:space;
  opacity: 1;
   transform: translateY(0)
}
}


@keyframes Title{
from {
   background:space;
  opacity: 0;
  transform: translateX(-200%)
}

to {
    background:space;
  opacity: 1;
   transform: translateX(0)
}
}

@keyframes Bio{
from {
   background:space;
  opacity: 0;
  transform: translateX(-200%)
}

to {
    background:space;
  opacity: 1;
   transform: translateX(0)
}
} */