.CardContainer{
    margin: 40px auto;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

.DarkCardContainer{
    margin: 40px auto;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 8px #ccc;
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    color: #ddd
}

.HeaderText{
    display:none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: 15px;
}

@media (max-width: 400px){
    .CardContainer{
        width: 50%;
    }
    .HeaderText{
        display: block;
    }
}
