

.CardContainer{
    margin: 40px auto;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Dosis', sans-serif;
    animation : Container 2s
}


.DarkContainer{
    margin: 40px auto;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 8px #ccc;
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Dosis', sans-serif;
    background:#333;
    color: #ddd
}

.HeaderText{
    display:none;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-left: 15px;
}

@media (max-width: 400px){
    .CardContainer{
        width: 50%;
    }
    .HeaderText{
        display: block;
    }
}

/* @keyframes Container{
from {
  background: space;
  opacity: 0;
  transform: translateX(-100%)
}

to {
   background:space;
  opacity: 1;
   transform: translateX(0)
}
} */
