
.ContactContainer{ 
      height: 100%;  
    width: 100%;
    background: linear-gradient(90deg, #fdfbfb,  #ebedee);
    box-sizing: border-box;
    overflow: hidden;

}   
.DarkContactContainer {
    margin-right: 0;
    padding: 60px;
    height: 80%;      
    width: 100%;
    background: #333;;
    box-sizing: border-box;
}
.FormInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0;

}
.TextField{
    width: 40%;
    height: 70px;
}


.ShowSentMessage{
    margin-top: 2%;
    animation: fadeOut 3s;
}

.ShowDarkSentMessage{
    margin-top: 2%;
    animation: fadeOut 3s;
    color: #ddd;
}

.ContactHeader{
    display: none;
}


@keyframes fadeOut {
    from {top: 0px;}
  to {top: 200px;}
} 

@media (max-width: 400px){
    .TextField{
        width: 200px;
    }
    .FormInfoContainer{
        margin-left: 60px;
    }
    .ContactHeader{
        display: block;
        margin-left: 80px;
    }
}