.FormInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.ContactContainer{ 
    margin-right: 0;
    padding: 60px;
    height: 100vh;  
    width: 100%;
  background: linear-gradient(90deg, #fdfcfb,  #e2d1c3);
    box-sizing: border-box;

}   
.TextField{
    width: 40%;
    height: 70px;
}

.ShowSentMessage{
    margin-top: 2%;
animation: fadeOut 3s;
}

.ContactHeader{
    display: none;
}


@keyframes fadeOut {
    from {top: 0px;}
  to {top: 200px;}
} 

@media (max-width: 400px){
    .TextField{
        width: 200px;
    }
    .FormInfoContainer{
        margin-left: 60px;
    }
    .ContactHeader{
        display: block;
        margin-left: 80px;
    }
}