/* *{
  box-sizing: border-box
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-face-color: blue;
  scrollbar-shadow-color: #ffffff;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #ffffff; */
}

body::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: lightgray;
  -webkit-box-shadow: inset 0 0 6px gray;
}
* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  padding: 0px;
  margin: 0px;
  /* background:   linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(200, 200, 200, 0.45)
    ),url('./assets/images/background.png'); */
  font-family: "Dosis", sans-serif;
  min-width: 825px !important;
}

html {
  scroll-behavior: smooth;
}

#About {
  position: relative;
}

canvas {
  position: absolute;
  z-index: -2;
}
