.SideProjectsContainer {
   position: relative;
    display:flex;
    flex-direction: column;
}

.DarkSideProjectsContainer{
    position: relative;
    display:flex;
    flex-direction: column;
    background: #333;
    color:white;
}

.SideProjectItem{
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 80%;
    border:1px solid gray;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;
    margin: 5px 5px 5px 12%;
}
.DarkProjectItem{
     display: flex;
    flex-direction: column;
    height: 175px;
    width: 80%;
    border:1px solid gray;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;
    margin: 5px 5px 5px 12%;
    color: white;
    background: #333;
}
.DarkSideProjectItem,
.SideProjectItem >a {
    margin-left: 25px;
}

.DarkProjectItem .ProjectItemInfo,
.SideProjectItem .ProjectItemInfo{
   position: absolute;
  display: inline-block;
  left: 22%;
  top:20%;
}

.ProjectItemInfo{
     background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(92, 151, 255,1.0) 50%);
     background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: .8s ease-in-out;
    font-family: 'Dosis', sans-serif;
    margin-left: 40px;
    }
       
.ProjectItemInfo:hover{ 
     transform: translateY(-3px) scale(1.01);
    background-position: -100% 0; 

}


.ProjectName{
 position: relative;
    color:black;;
    text-decoration: none;
    padding-left: 20px;
    white-space: nowrap;
    font-size:1.2rem;
    margin: 0;
}
.DarkProjectName{
     position: relative;
    color:white;
    text-decoration: none;
    padding-left: 20px;
    white-space: nowrap;
    font-size:1.2rem;
    margin: 0;
}
.DarkProjectLink{
     position: absolute;
    left: 53%;
    bottom: 35px;  
 text-decoration: none;
 color:white;
}
.ProjectLink{
    position: absolute;
    left: 53%;
    bottom: 35px;  
 text-decoration: none;
 color:gray;
}

.GitHubLink{
    position: absolute;
    left: 57%;
    bottom: 35px; 
     text-decoration: none;
 color:gray;
}
.DarkGitHubLink{
      position: absolute;
    left: 57%;
    bottom: 35px; 
     text-decoration: none;
 color:white;
}

@media(max-width: 1175px){
    .DarkProjectLink,
    .ProjectLink{
bottom: 15px;
    }
   .DarkGitHubLink,
    .GitHubLink{
bottom: 15px;
    }
}

@media(max-width: 1000px){
    .DarkProjectLink,
    .ProjectLink{
top: 5px;
    }
    .DarkGitHubLink,
    .GitHubLink{
top:5px;

    }
}











